<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    todo: New/Optional Stuff from U and V
     * Selected Photos Access
     * Media Processing FG Service type (w/mandatory timeout)
     -->
    
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".UploadExampleApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuxVideoVODUploadSDK"
        tools:targetApi="31">
        <activity
            android:name=".upload.CreateUploadActivity"
            android:exported="false"
            android:label="@string/title_activity_create_upload"
            android:taskAffinity=".compose"
            android:theme="@style/Theme.MuxVideoVODUploadSDK" />
        <activity
            android:name=".upload.UploadListActivity"
            android:exported="true"
            android:label="@string/title_main_activity"
            android:taskAffinity=".compose"
            android:theme="@style/Theme.MuxVideoVODUploadSDK.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".upload.PlainViewListExampleActivity"
            android:exported="true"
            android:label="@string/title_plain_activity"
            android:taskAffinity=".plain"
            android:theme="@style/Theme.MuxVideoVODUploadSDK.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".BackgroundUploadService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            >
        </service>
    </application>

</manifest>